*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Segoe UI';
}

header{
    height: 73px;
    position: absolute;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
}

.menu-icons{
    cursor: pointer;
}

.menu-icons.open i{
    color: #999;
    font-size: 35px;
}

.menu-icons.close i{
    color: red;
    font-size: 35px;
}

.nav-list{
    display: flex;
}

.nav-list li{
    list-style-type: none;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 73px;
}

.nav-list li a{
    color: #fff;
}

.nav-register{
    padding: 15px;
    background: #e91e63;
}

.nav-brand a img{
    padding-top: 15px;
}

.container{
    max-width: 1000px;
    margin: auto;
}

.flyer{
    /*background: #ccc;*/
    background: white;
    text-align: center;
    padding-top: 73px;
}

/* .flyer-registration-button{
    position: absolute;
} */

section{
    padding: 5%;
}

/* Banner */
.banner{
    height: 450px;
    /* background: url('../images/banner2.png') center; */
    /* background: linear-gradient(rgba(148, 141, 181, 0.5) 0%, rgba(53, 57, 95, 0.8) 100%), url('../images/banner2.png') center center; */
    background-size: cover;
    padding: 150px 0px 0px 0px;
    /* text-align: center; */
}

.main-message{
    padding: 20px;
}

.banner .first-text{
    color: #fff;
}

.banner .second-text{
    font-size: 40px;
    color: #fff;
}

.banner .cta{
    /* text-align: center; */
}

.btn{
    padding: 15px;
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.btn-pink{
    background: #e91e63;
}

.btn-blue{
    background: #1e9de9;
}

.btn-green{
    background: #2a8a45;
}

.btn span{
    position: relative; /* Applied position for z-index to work */
    z-index: 1;
}

.overlay1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 50%;
    position: absolute;
    transition: left 0.5s;
    z-index: 0;
}

.overlay2{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 50%;
    position: absolute;
    transition: right 0.5s;
    z-index: 0;
}

.btn:hover .overlay1{
    left: 0;
}

.btn:hover .overlay2{
    right: 0;
}

.btn-overlay-pink{
    background: #c71a53;
}

.btn-overlay-blue{
    background: #188acc;
}

/* About */
.title-heading{
    text-align: center;
    color: rgba(0,0,0,0.7);
    margin-bottom: 5%;
}

.about-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-grid-item{
    text-align: center;
    /* width: 24%; */
    width: 290px;
    margin: 15px;
}

.about-grid-icon{
    margin-bottom: 30px;
}

.about-grid-icon i{
    font-size: 61px;
}

.mission i{
    color: #de4b39;;
}

.scope i{
    color: #ea4c89;
}

.structure i{
    color: #55acef;
}

.reporting-line i{
    color: #27c250;
}

.ion-arrow-graph-up-right{
    display: contents; /* The element will not generate any box, but its children and pseudo elements will. 
    The reason I used this was that ion icons has its own box spaces around the icons that padding, margin and inline-block
    could not remove.*/
}

.about-grid-title{
    color: #3c4858;
}

.about-grid-content{
    color: #999;
}

.about-grid-content ul, .about-grid-content li{
    text-align: left;
    margin-left: 15px;
}

/* Gallery */
.gallery{
    background: #f0f0f0;
}

.gallery-wrapper{
    margin-top: 20px;
}



/* Media */
.media{
    background: linear-gradient(rgb(15, 15, 15, 0.9) 0%, rgb(15, 15, 15, 0.9) 100%), url('../images/banner-flip.jpg') center center fixed;
    background-size: cover;
    padding: 50px 0;
}

.media-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.media-container .text{
    padding: 20px;
    color: #fff;
}

.media-container .video{
    /* width: 600px; */
}

.media-container .video video{
    width: 100%;
}

.video-wrapper{
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.video-wrapper iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    border-radius: 5px;
}


/* National Executives */
.national-executives-grid{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.national-executives-grid-item{
    display: flex;
    width: 450px;
    margin: 0px 15px 89px 15px;
    /* margin-bottom: 15px;
    margin-right: 30px; */
}

.national-executives-grid-item .profile-image{
    width: 160px;
    margin-right: 15px;
    margin-bottom: 15px;
    
}

.national-executives-grid-item .profile-image img{
    max-width: 100%;
    border-radius: 3px;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,0.56),0 4px 25px 0 rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.2);
}

.national-executives-grid-item .profile-text{
    width: 300px;
}

.profile-text .name{
    color: #3c4858;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-text .title{
    color: #777;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-text .description{
    color: #999;
}


/* Contact us */
.contact-us{
    background:linear-gradient(rgb(15, 15, 15, 0.9) 0%, rgb(15, 15, 15, 0.7) 100%), url('../images/banner3.jpg') center center;
    background-size: cover;
    color: white;
}

.contact-us .title-heading{
    color: white;
}

.contact-us-container{
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-text{
    width: 400px;
    margin-bottom: 50px;
}

.contact-text .description{
    margin-bottom: 15px;
}

.contact-text .address{
    margin-bottom: 15px;
}

.contact-text .phone-email{
    margin-bottom: 15px;
}

.ion-email{
    font-size: 18px;
}

.contact-text .social-icons span{
    padding: 10px;
}

.contact-text .social-icons span a{
    color: white;
}

.contact-form{
    background: #fff;
    position: relative;
    border-radius: 6px;
    width: 400px;

}

.header-raised{
    background: #e91e63;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,0.56),0 4px 25px 0 rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.2);
    text-align: center;
    padding: 17px 10px;
    margin: 15px;
    margin-top: -20px;
    position: absolute;
    border-radius: 3px;
    width: 90%;
}

.content{
    padding: 50px 30px 30px;
    color: rgba(0,0,0,.87);
}

.content form{
    margin-left: 15px;
    margin-right: 15px;
}

.field-container{
    margin: 5px 0;
}

input, textarea{
    padding: 7px 0;
    border: none;
    border-bottom: 1px solid #767676;
    font-size: 14px;
    color: #767676;
    height: 38px;
    width: 100%;
}

textarea{
    height: 120px;
    font-family: 'Segoe UI';
}

.field-container.button{
    display: flex;
    justify-content: flex-end;
}

button[type="submit"]{
    margin-top: 15px;
    /* background: #e91e63; */
    border: none;
    cursor: pointer;
}

footer{
    background: #323437;
    color: #999;
    padding: 5% 5% 0px 5%;
}

.footer-container{
    display: flex;
    flex-wrap: wrap;
}

.footer-item{
    width: 300px;
    margin: 15px;

}

.footer-heading{
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
}

footer hr{
    border: 1px solid rgba(255,255,255,0.2);
    margin-top: 10px;
}

.bottom-footer{
    color: #fff;
    padding: 20px 0px;
    text-align: center;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert h4 {
    margin-top: 0;
    color: inherit;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.menu-icons{
    display: none;
}

#registration-form{
    margin-top:50px;
}

/* Media queries */
@media screen and (max-width: 768px){
    .nav-list{
        display: flex;
        flex-direction: column;
        background: rgba(76, 63, 96, 0.9);
        position: fixed;
        right: -270px;
        padding: 70px;
        bottom: 0px;
        top: 0px;
        align-items: center;
        transition: right 1s;
    }

    /* We will apply this particular class via JavaScript */
    .nav-list-opened{
        right:0px;
    }

    .menu-icons{
        display: block;
    }

    header{
        padding-left: 20px;
        padding-right: 20px;
    }

    .banner{
        background: linear-gradient(rgba(148, 141, 181, 0.5) 0%, rgba(53, 57, 95, 0.8) 100%), url('../images/banner1.png') center 35%;
        height: 350px;
        background-size: cover;
        padding: 80px 0px 0px 0px;
    }

    .banner .second-text{
        font-size: 30px;
    }

    .media-container .video{
        /* width: 300px; */
    }

    .national-executives-grid{
        justify-content: center;
    }

    .national-executives-grid-item{
        width: 300px;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        margin: 0px 15px 50px 15px;
    }

}

/* Media queries */
@media screen and (max-width: 430px){
    .banner{
        /* padding-top: 80px; */
    }
}


